/* 匹配 console 代码块 */
.language-console {
  position: relative;
  margin-top: -16px !important; /* 与上一个代码块无缝连接 */ 
  border-top: 1.5px dashed #ccc; /* 分隔符过渡 */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 为 console 代码块添加提示文字 */
.language-console::before {
  content: "执行结果: (可能会根据环境不同而有所差异)";
  display: block;
  font-size: 0.7em;
  color: #666;
}

/* 为分隔线添加过渡效果 */
.language-console {
  transition: border-color 0.3s ease;
}

.language-console:hover {
  border-top-color: #999;
}

/* 使用负边距进一步缩小间距 */
.language-console pre code {
  padding-top: 0 !important;
  margin-top: -25px !important;
}

/* 确保提示文字在深色主题下也可见 */
html.dark .language-console::before {
  color: #aaa;
}

/* 隐藏复制按钮 */
.language-console .copy {
  display: none;
}