@import './var.css';
@import './custom-block.css';
@import './font.css';
@import './sidebar.css';
@import './nav.css';
@import './home.css';
@import './kbd.css';
@import './mouse.css';
@import './blur.css';
@import './code-console.css';
@import './bash_code.css';