/* 深浅色卡 */
:root {
    --sidebar-bg: #ffffff;
    --sidebar-hover-text: #000000;
    --sidebar-hover-bg: #f2f2f2;
    --sidebar-active-text: #33adff;
    --sidebar-active-bg: #7fa3ff29;

}

.dark {
    --sidebar-bg: #1b1b1f;
    --sidebar-hover-text: #33adff;
    --sidebar-hover-bg: #5454545a;
    --sidebar-active-text: #66c2ff;
}

:root {
    --vp-sidebar-bg-color: var(--sidebar-bg);
}

/* 侧边栏项的左边距 */
.VPSidebarItem .item {
    padding-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    transition: all 0.3s ease; /* 添加过渡效果 */
}

/* 鼠标悬停时改变字体颜色 */
nav#VPSidebarNav .VPSidebarItem .item:hover .text {
    color: var(--sidebar-hover-text);
}

/* 鼠标悬停时改变背景颜色 */
nav#VPSidebarNav .VPSidebarItem .item:hover {
    transition: all 0.3s ease;
    background-color: var(--sidebar-hover-bg);
    border-radius: 10px 50px 50px 10px;
    transform: translateX(5px); /* 添加向右移动的动画 */
}

/* 当前选中的侧边栏项的字体颜色 */
nav#VPSidebarNav .VPSidebarItem.is-active .item .text {
    color: var(--sidebar-active-text);
}

/* 当前选中的侧边栏项的背景颜色 */
nav#VPSidebarNav .VPSidebarItem.is-active .item {
    background-color: var(--sidebar-active-bg); /* 改变背景颜色 */
    border-radius: 10px 50px 50px 10px; /* 添加圆角 */
}

/* 大纲字体边距 */
.VPDocAsideOutline .outline-link {
    padding-left: 10px;
    transition: all 0.3s ease; /* 添加过渡效果 */
}

/* 鼠标悬停时改变大纲字体颜色和背景颜色 */
.VPDocAsideOutline .outline-link:hover {
    color: var(--sidebar-hover-text);
    transition: all 0.3s ease;
    background-color: var(--sidebar-hover-bg);
    border-radius: 10px 50px 50px 10px;
    transform: translateX(5px); /* 添加向右移动的动画 */
}

/* 当前选中的大纲项的背景颜色 */
.VPDocAsideOutline .outline-link.active,
.VPDocAsideOutline .outline-link.active:hover {
    background-color: var(--sidebar-active-bg);
    color: var(--sidebar-active-text);
    border-radius: 10px 50px 50px 10px;
}

/* 侧边栏缩放 */
.group:has([role='button']) .VPSidebarItem.level-0 .items {
  padding-left: 15px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}